@font-face {
  font-family: OpenSans;
  src: url(/src/assets/OpenSans-VariableFont.woff2) format('woff2');
}

:root {
  font-family: OpenSans, Helvetica, Arial, sans-serif;
  font-size: 1rem;
  line-height: 1.2;
  font-weight: 400;

  color-scheme: light dark;
  color: rgba(255, 255, 255, 0.87);
  background-color: #242424;

  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  -webkit-text-size-adjust: 100%;

  --border-radius: 0.5rem;
}

::-webkit-scrollbar {
  display: none;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html {
  background: #0f1018;
}

body {
  margin: 0;
  min-width: 320px;
  min-height: 100vh;
}

a {
  font-weight: 500;
  color: #f71432;
  text-decoration: inherit;
  font-size: 1rem;
}
a:hover {
  color: #f71432;
}

h1 {
  font-size: 2em;
  line-height: 1.1;
  margin-top: 3rem;
  margin-bottom: 3rem;
  font-variation-settings: 'wght' 600;
}

h2 {
  font-size: 1.1rem;
  margin-left: 1rem;
  font-variation-settings: 'wght' 600;
}

button {
  border-radius: var(--border-radius);
  border: 1px solid transparent;
  font-size: 1rem;
  font-weight: 500;
  font-family: inherit;
  background-color: #f71432;
  cursor: pointer;
  transition: border-color 0.25s;
  padding: 0 4rem;
}
button:hover {
  border-color: #f71432;
}
button:focus,
button:focus-visible {
  outline: 4px auto -webkit-focus-ring-color;
}

.flex-wrapper {
  display: flex;
}
.flex {
  flex: 1;
}

@media (prefers-color-scheme: light) {
  :root {
    color: #213547;
    background-color: #ffffff;
  }
  a:hover {
    color: #f71432;
  }
  button {
    background-color: #f9f9f9;
  }
}
